<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      MO Native Bird Calls
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid fixed class="grid-container">
    <ion-row class="grid-row">
      <ion-col class="grid-col" size="6">
        <div class="grid-item">
          <ion-button class="button-container" expand="full" (click)="playAudio('assets/BirdSong_AmericanRobin.mp3')">
            <ion-img class="image" src="assets/BirdSong_AmericanRobin.jpeg"></ion-img>
          </ion-button>
          <div class="grid-label">American Robin</div>
        </div>
      </ion-col>
      <ion-col class="grid-col" size="6">
        <div class="grid-item">
          <ion-button class="button-container" expand="full" (click)="playAudio('assets/BirdSong_HouseWren.mp3')">
            <ion-img class="image" src="assets/BirdSong_HouseWren.jpeg"></ion-img>
          </ion-button>
          <div class="grid-label">House Wren</div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="grid-row">
      <ion-col class="grid-col" size="6">
        <div class="grid-item">
          <ion-button class="button-container" expand="full" (click)="playAudio('assets/BirdSong_NorthernMockingBird.mp3')">
            <ion-img class="image" src="assets/BirdSong_NorthernMockingBird02.jpeg"></ion-img>
          </ion-button>
          <div class="grid-label">Northern Mockingbird</div>
        </div>
      </ion-col>
      <ion-col class="grid-col" size="6">
        <div class="grid-item">
          <ion-button class="button-container" expand="full" (click)="playAudio('assets/BirdSong_TuftedTitmouse.mp3')">
            <ion-img class="image" src="assets/BirdSong_TuftedTitmouse.jpeg"></ion-img>
          </ion-button>
          <div class="grid-label">Tufted Titmouse</div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="grid-row">
      <ion-col class="grid-col" size="6">
        <div class="grid-item">
          <ion-button class="button-container" expand="full" (click)="playAudio('assets/BirdSong_CarolinaChickadee.mp3')">
            <ion-img class="image" src="assets/BirdSong_CarolinaChickadee.jpeg"></ion-img>
          </ion-button>
          <div class="grid-label">Carolina Chickadee</div>
        </div>
      </ion-col>
      <ion-col class="grid-col" size="6">
        <div class="grid-item">
          <ion-button class="button-container" expand="full" (click)="playAudio('assets/BirdSong_NorthernCardinal.mp3')">
            <ion-img class="image" src="assets/BirdSong_NorthernCardinal.jpeg"></ion-img>
          </ion-button>  
          <div class="grid-label">Northern Cardinal</div>  
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>  
</ion-content>

