#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}


.grid-container {
  max-width: 100%;
  margin: 0 auto;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

ion-header {
  --ion-background-color: #555555; /* Set the background color to gray */
}

ion-title {
  color: #fff; /* Set the font color to white */
}
